{% extends 'base.html' %} {% block title %}Login{% endblock title %} {% block
content %}
<article class="register">
  <h2>Login to continue</h2>
  <form method="POST">
    <div class="input-box">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" />
    </div>
    <div class="input-box">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" />
    </div>
    {% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}
    <input type="submit" value="Login" />
  </form>
</article>

{% endblock content %}
